@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-main: #ffffff;
  --background-second: #ff204e;
  --background-third: #a0153e;
  --text-main: #222831;
  --text-second: #ffffff;
  --text-third: #ff204e;
  --text-color-main: #222831;
  --text-color-second: #74767b;
}

html {
  scroll-behavior: smooth;
}

.bg-background-second {
  background-color: var(--background-second);
}

.bg-background-third {
  background-color: var(--background-third);
}

.text-main {
  color: var(--text-main);
}

.text-second {
  color: var(--text-second);
}

.text-third {
  color: var(--text-third);
}

.text-color-main {
  color: var(--text-color-main);
}

.text-color-second {
  color: var(--text-color-second);
}

body {
  color: var(--text-second);
  background: var(--background-main);
}

h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-dots {
    background-image: radial-gradient(circle, #cccccc 1px, transparent 1px);
    background-size: 35px 35px;
  }
}
