@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-main: #222831;
  --background-second: #ff204e;
  --background-third: #a0153e;
  --text-main: #222831;
  --text-second: #ffffff;
  --text-third: #ff204e;
}

.bg-background-second {
  background-color: var(--background-second);
}

.bg-background-third {
  background-color: var(--background-third);
}

.text-main {
  color: var(--text-main);
}

.text-second {
  color: var(--text-second);
}

.text-third {
  color: var(--text-third);
}

body {
  color: var(--text-second);
  background: var(--background-main);
}
