@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #1d267d;
}

nav {
  background-color: hsla(0, 0%, 100%, 0.9);
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(left, #a3ceff, #64adff);
  background-clip: text;
  color: #30a2ff;
}

.nav-link {
  color: var(--secondary-color);
  font-size: 15px;
}

.nav-link:hover {
  color: var(--secondary-color);
  opacity: 0.7;
  transition: 200ms;
}

.nav-text {
  background-color: #f6fa70;
  background-image: linear-gradient(90deg, rgba(235, 236, 191, 1) 0%, rgba(246, 250, 112, 1) 60%);
  border-radius: 10px;
}

.nav-text:hover {
  opacity: 0.7;
  transition: 200ms;
}

/* About */

#about {
  background-size: cover;
  background-image: url("../assets/img/bg-head-2.png");
  background-repeat: no-repeat;
  margin-top: 63px;
  padding: 85px 0;
}

#about .container {
  width: 100%;
}

#about .row {
  height: 560px;
}

.about-content {
  width: 100%;
  height: 100%;
}

.about-text {
  align-items: center;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(left, #a3ceff, #64adff);
  background-clip: text;
  color: #30a2ff;
}

.about-description {
  color: var(--secondary-color);
}

.about-familiar {
  color: var(--secondary-color);
  line-height: 22px;
}

/* Projects */

#projects {
  padding-top: 80px;
}

#projects h2 {
  color: var(--secondary-color);
}

#projects .card {
  /* max-width: 1400px; */
  border-radius: 50px;
}

#projects .card-body {
  color: var(--primary-color);
}

#projects .card-body .view-project:hover {
  border: none;
  opacity: 0.7;
  transition: 300ms;
}

/* SelfCare */
#projects .selfcare {
  background: rgb(8, 131, 149);
  background: linear-gradient(90deg, rgb(100, 181, 194) 30%, rgb(45, 157, 202) 100%);
}

#projects .selfcare .view-project {
  background-color: #5bcbc7;
}

/* Undangan */

#projects .undangan {
  background: rgb(8, 131, 149);
  background: linear-gradient(90deg, rgba(8, 131, 149, 1) 30%, rgba(10, 77, 104, 1) 100%);
}

#projects .undangan .view-project {
  background-color: #439a97;
}

/* Warehouse */

#projects .warehouse {
  background: rgb(25, 55, 109);
  background: linear-gradient(90deg, rgba(25, 55, 109, 1) 32%, rgba(11, 36, 71, 1) 100%);
}

#projects .warehouse .view-project {
  background-color: #205295;
}

/* Portofolio */

#projects .portofolio {
  background: rgb(151, 222, 255);
  background: linear-gradient(90deg, rgba(151, 222, 255, 1) 25%, rgba(98, 205, 255, 1) 100%);
}

#projects .portofolio .view-project {
  background-color: #537fe7;
}

/* Batch tracker */

#projects .batch-tracker {
  background: rgb(155, 255, 202);
  background: linear-gradient(90deg, rgba(155, 255, 202, 1) 0%, rgba(95, 255, 180, 1) 100%);
}

#projects .batch-tracker .view-project {
  background-color: #537fe7;
}

/* Smart Fire Evcuation System */

#projects .smart-fire-evacuation-system {
  background: rgb(155, 255, 202);
  background: linear-gradient(90deg, rgba(155, 255, 202, 1) 0%, rgba(95, 255, 180, 1) 100%);
}

#projects .smart-fire-evacuation-system .view-project {
  background-color: #537fe7;
}

/* Contact */

#contact .container {
  margin-top: 100px;
  margin-bottom: 100px;
}

#contact h2 {
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(left, #a3ceff, #64adff);
  background-clip: text;
  color: #30a2ff;
}

#contact p {
  color: var(--secondary-color);
}

#contact button {
  background-color: #f6fa70;
  background-image: linear-gradient(90deg, rgba(235, 236, 191, 1) 0%, rgba(246, 250, 112, 1) 60%);
  border-radius: 10px;
  color: var(--secondary-color);
}

#contact button:hover {
  opacity: 0.7;
  transition: 200ms;
}

#contact .list-group img:hover {
  opacity: 0.7;
  transition: 300ms;
}

#contact .list-text {
  color: var(--secondary-color);
}

/* Footer */

footer {
  width: 100%;
  height: 120px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 8%, rgba(98, 205, 255, 1) 100%);
}

@media screen and (max-width: 991px) {
  .nav-text {
    background-color: transparent;
    background-image: none;
  }
}

@media screen and (max-width: 767px) {
  #projects .view-project {
    width: 100%;
  }
}
